* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #E3A587;
  color: #343330;
  font-family: "Amatic SC", cursive;
  min-height: 100vh;
}
header {
  font-size: 2rem;
  font-family: "Amatic SC", cursive;
}

h1 {
  font-weight: 700;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #DB5A42;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #DB5A42;
  color: white;
}

.celebration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  width: 100%;
  height: 100%;
  /* display: none; */
}

.today-wins-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todays-wins {
  min-width: 30%;
  list-style: none;
}

.onesmallwin {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.onesmallwin li {
  flex: 1;
}

.trash-btn {
  background: #DB5A42;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.onesmallwin-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background:transparent;
  color: #DB5A42;
  text-decoration: none;
  border-bottom: 1px solid #DB5A42;
  padding: 10px 0;
}

.nav-links  {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  color: #E8AE68;
  text-decoration: none;
  font-weight: 900;
}
.nav-links li {
  list-style-type: none;
  font-size: 20px;
  color:#DB5A42;
  text-decoration: none;
}

.nav-links :link {
  text-decoration: none;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgba(183, 36, 92, 1);
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
