body {
  margin: 0;
  font-family: 'Alice', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Sacramento', cursive;
}

p, div {
  font-family: 'Poppins', sans-serif;
}
